/* Первичный цвет текста #757575 */
/* Цвет заголовков и ссылок #212121 */
/* Цвет фона, h1, лого и адрес в футере #FFFFFF */
/* Акцент #2196F3 */
/* Контакты в футере #FFFFFF, 60 % */
/* Вторичный цвет фона #F5F4FA */
/* Цвет футера #2F303A */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

.visually-hidden {
  position: absolute !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

button {
  padding: 0;
  border: none;
  border-radius: 4px;
}

/* ================ Header ================ */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.studio {
  color: #000;
}

.nav-section {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link.current::before {
  position: absolute;
  content: '';
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  top: 76px;
  border-radius: 2px;
}

.site-nav .link {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.header-contacts.list {
  display: flex;
}

.header-contacts .link {
  display: flex;
  align-items: center;
  height: 80px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .link:hover {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.icon-contacts {
  margin-right: 10px;
}

.icon-contacts:hover {
  color: var(--accent-color);
}

.page-header {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid #ececec;
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  z-index: 1;
}

/* ================= Footer ================= */

footer {
  background: var(--footer-bg-color);
  padding: 60px 0;
}

footer .logo {
  display: inline-block;
  margin-right: 0;
  color: var(--accent-color);
}

footer .studio {
  color: var(--primary-bg-color);
}

address .location {
  display: block;
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin: 20px 0 0;
  width: 227px;
  letter-spacing: 0.03em;
}

footer .link {
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  display: inline-block;
  margin-top: 9px;
}

/* ========= Social links ========= */

footer .container {
  display: flex;
}

.adress-wrapper {
  width: 227px;
  margin-right: 70px;
}

.location > .link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-cta {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 10px 0 0;
  color: var(--primary-bg-color);
}

.footer-social.list {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-top: 20px;
  padding: 0;
}

.footer-social-links {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
}

.footer-social-items:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  width: 44px;
  height: 44px;
  fill: #fff;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon:hover,
.social-icon:focus {
  fill: #fff;
}

.subscribe-wrapper {
  min-width: 570px;
}

/* .subscribe-form {
  display: flex;
  display: inline-block;
  justify-content: space-between;
  align-content: center;
} */

.cta-wrapper {
  display: flex;
  justify-content: space-between;
}

.social-wrapper {
  margin-right: 93px;
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
}

.footer-form-input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: var(--footer-text-color);
  background-color: var(--footer-bg-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.subscribe-form .btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form .btn:hover {
  background-color: #2481ce;
}

.subscribe-form .btn:focus {
  outline: none;
}
