.visually-hidden {
  position: absolute !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

body {
  background-color: #fff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

address {
  font-style: normal;
}

button {
  padding: 0;
  border: none;
  border-radius: 4px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.hero .container {
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.btn {
  display: block;
  color: #fff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #2481ce;
  outline: none;
}

.logo {
  color: #2196f3;
  font-family: Raleway, 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.logo-accent {
  color: #000;
}

footer .logo {
  display: inline-block;
  margin-right: 0;
  color: #2196f3;
}

footer .logo-accent {
  color: #fff;
}

.section {
  padding-top: 94px;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0 0 50px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-links {
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: #2196f3;
}

.social-items:not(:last-child) {
  margin-right: 10px;
}

.social-icons {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons:hover,
.social-icons:focus {
  fill: #fff;
}

.social-links-footer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer:hover, .social-links-footer:focus {
  background-color: #2196f3;
}

.social-items:not(:last-child) {
  margin-right: 10px;
}

.social-icon-footer {
  width: 44px;
  height: 44px;
  fill: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover, .social-icon-footer:focus {
  fill: #fff;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  margin: 40px auto;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  box-sizing: border-box;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-x-icon {
  width: 11px;
  height: 11px;
  fill: #000;
}

.modal-form-wrapper {
  padding: 40px;
}

.modal-form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin: 0 0 12px;
}

.modal-form-label {
  display: inline-block;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  cursor: pointer;
}

.modal .form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-input-icon {
  position: absolute;
  top: 15%;
  left: 15px;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .form-input-icon {
  fill: #2196f3;
}

.modal-form-message {
  width: 100%;
  min-height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.user-agreement-link {
  color: #2196f3;
  text-decoration: underline;
}

.form-policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0 0 30px;
  color: #757575;
  user-select: none;
}

.form-policy-label::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.form-policy-input {
  margin-bottom: 0;
}

.form-policy-input:checked + .form-policy-label::before {
  background-image: url(../images/icons/checkbox.svg);
  border: none;
}

.page-header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  display: block;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav-link.current::before {
  position: absolute;
  content: '';
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  top: 76px;
  border-radius: 2px;
}

.header-nav-link.current {
  color: #2196f3;
  position: relative;
}

.header-nav-link:hover, .header-nav-link:focus {
  color: #2196f3;
}

.header-contact-list,
.header-contact-link {
  display: flex;
}

.header-contact-link {
  align-items: center;
  height: 80px;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover {
  fill: #2196f3;
  color: #2196f3;
}

.header-contact-item:not(:last-child) {
  margin-right: 30px;
}

.icon-contacts {
  margin-right: 10px;
}

.icon-contacts:hover {
  color: #2196f3;
}

.hero {
  background: #2f303a;
}

.hero .container {
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.overlay {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-position: center;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantage-item {
  width: 270px;
}

.advantage-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.advantage-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.advantage-text {
  margin: 0;
}

.services {
  padding-bottom: 94px;
}

.service-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.service-item {
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.service-item:not(:last-child) {
  margin-right: 30px;
}

.service-overlay {
  position: absolute;
  margin: 0;
  width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 0;
  bottom: 0;
}

.service-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 27px 0;
}

.service-img {
  display: block;
  object-fit: cover;
}

.section.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.team-cards {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  padding: 0;
}

.team-cards:not(:last-child) {
  margin-right: 30px;
}

.team-list,
.team-image {
  display: flex;
}

.team-info {
  width: 206px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.team-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team-positions {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.clients-list {
  display: flex;
  margin-top: 50px;
  padding-bottom: 93px;
}

.clients-icon {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover, .clients-icon:focus {
  fill: #2196f3;
}

.clients-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links:hover, .clients-links:focus {
  border: 1px solid #2196f3;
}

.clients-links:hover svg,
.clients-links:focus svg {
  fill: #2196f3;
}

.clients-item:hover {
  fill: #2196f3;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

footer {
  background: #2f303a;
  padding: 60px 0;
}

footer .container {
  display: flex;
}

.location {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  margin: 20px 0 0;
  width: 227px;
  letter-spacing: 0.03em;
}

.footer-contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
  margin-top: 9px;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-wrapper {
  width: 227px;
  margin-right: 70px;
}

.footer-cta-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 10px 0 20px;
  color: #fff;
}

.footer-subscribe-wrapper {
  min-width: 570px;
}

.footer-cta-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-social-wrapper {
  margin-right: 93px;
}

.footer-subscribe-form {
  display: flex;
  align-items: flex-end;
}

.footer-form-input {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  padding-left: 15px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.footer-subscribe-form .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
}
/*# sourceMappingURL=main.css.map */