/* Первичный цвет текста --primary-text-color (#757575) */
/* Цвет заголовков и ссылок --secondary-text-color (#212121) */
/* Цвет фона, h1, лого и адрес в футере --primary-bg-color (#FFFFFF) */
/* Вторичный цвет фона --secondary-bg-color (#F5F4FA) */
/* Акцент --accent-color (#2196F3) */
/* Контакты в футере --footer-text-color (255, 255, 255, 0.6) */
/* Цвет футера --footer-bg-color (#2F303A) */

/* =============== ********** ================ */
/* =============== Index.html ================ */
/* =============== .......... ================ */

/* ============ Hero ============ */

.hero {
  background: var(--footer-bg-color);
}

.hero .container {
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-position: center;
}

.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.section {
  padding-top: 94px;
}

.section.last {
  background-color: var(--secondary-bg-color);
  padding-bottom: 94px;
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0 0 50px;
}

.hero .btn {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .btn:hover {
  display: inline-block;
  background-color: #2481ce;
}

.hero .btn:focus {
  outline: none;
}

/* ============ End Hero ============ */

/* =========== Features =========== */

.features.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features .item {
  width: 270px;
}

.features .item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.features .properties:not(:last-child) {
  margin-right: 30px;
}

.features .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.features .text {
  margin: 0;
}

/* ======== End Features ======== */

/* ========== Services ========== */

.serv-section {
  padding-bottom: 94px;
}

.services.list {
  display: flex;
  margin: 0;
  padding: 0;
}

.services .item {
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.service-overlay {
  position: absolute;
  margin: 0;
  width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 0;
  bottom: 0;
}

.service-overlay > .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  text-align: center;
  margin: 27px 0;
}

.services img {
  display: block;
}

.services .item:not(:last-child) {
  margin-right: 30px;
}

.services-img {
  object-fit: cover;
}

/* ======== End Services ======== */

/* =========== Team =========== */

.team .cards {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  padding: 0;
}

.team .cards:not(:last-child) {
  margin-right: 30px;
}

.team.list {
  display: flex;
}

.team-image {
  display: flex;
}

.team .title {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team .positions {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.social.list {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  margin-bottom: 30px;
}

.social-links {
  display: flex;
  background-color: var(--primary-bg-color);
  border-radius: 50%;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
}

.social-icon {
  width: 44px;
  height: 44px;
  fill: #afb1b8;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
  fill: #fff;
}

/* =========== End Team ========== */

/* =========== Clients ============ */

.clients .list {
  display: flex;
  margin-top: 50px;
  padding-bottom: 93px;
}

.clients-icon {
  fill: #afb1b8;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover,
.clients-icon:focus {
  fill: var(--accent-color);
}

.clients-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links:hover,
.clients-links:focus {
  border: 1px solid var(--accent-color);
}

.clients-links:hover svg,
.clients-links:focus svg {
  fill: var(--accent-color);
}

.clients.item:hover {
  fill: var(--accent-color);
}

.clients.item:not(:last-child) {
  margin-right: 30px;
}

.clients .section-title {
  letter-spacing: 1.08px;
}

/* ===============****************=============== */
/* =============== Portfolio.html =============== */
/* ===============................=============== */

/* ====== Project Filters ====== */

.filters.list {
  display: flex;
  margin: 0 0 50px;
  padding: 0;
  justify-content: center;
}

.filters .item:not(:last-child) {
  margin-right: 8px;
}

.filters button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  min-width: 73px;
  padding: 6px 22px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters button:hover,
.filters button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;
}

/* ==== End of Project Filters ==== */

/* ====== Project Cards ====== */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* .project.list:nth-child(3n) {
  margin-right: 0;
} */

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project img {
  display: block;
  margin: 0;
  padding: 0;
}

.project .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
  padding: 0;
}

.project .type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
  padding: 0;
}

.project .content-box {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.project .cards {
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 0px;
  width: 370px;
}

.project-thumb > .overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
}

.cards:hover .project-thumb > .overlay,
.cards:focus .project-thumb > .overlay {
  opacity: 1;
  transform: translateY(0);
}

/* Var 2 (::before) */

/* .project-thumb::before {
  content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, qui laborum labore voluptatibus dicta repellat voluptas eligendi eius aut neque quas tempora';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  opacity: 0;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-card::before {
  content: 'Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  opacity: 0;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-thumb:hover::before,
.first-card:hover::before {
  opacity: 1;

  transform: translateY(-100%);
} */

.project .cards:nth-child(3n) {
  margin-right: 0;
}

.project .cards:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project .cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ====== End of Project Cards ====== */

/* ============= Modal ============= */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  margin: 40px auto;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  box-sizing: border-box;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-x-icon {
  width: 11px;
  height: 11px;
  fill: #000;
}

.form-wrapper {
  padding: 40px;
}

.form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
  margin: 0 0 12px;
}

.modal-form-label {
  display: inline-block;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-input-icon {
  position: absolute;
  top: 15%;
  left: 15px;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  min-height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.policy-input {
  margin-bottom: 0;
}

.user-agreement-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--primary-text-color);
  user-select: none;
}

.policy-label::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
}

.policy-input:checked + .policy-label::before {
  background-image: url(../images/icons/checkbox.svg);
  border: none;
}

.modal-form .btn {
  display: block;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .btn:hover {
  background-color: #2481ce;
}

.modal-form .btn:focus {
  outline: none;
}
