.visually-hidden {
  position: absolute !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

body {
  background-color: #fff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  padding: 0;
  border: none;
  border-radius: 4px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.hero .container {
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.btn {
  display: block;
  color: #fff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #2481ce;
  outline: none;
}

.logo {
  color: #2196f3;
  font-family: Raleway, 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.logo-accent {
  color: #000;
}

footer .logo {
  display: inline-block;
  margin-right: 0;
  color: #2196f3;
}

footer .logo-accent {
  color: #fff;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-links {
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: #2196f3;
}

.social-items:not(:last-child) {
  margin-right: 10px;
}

.social-icons {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons:hover,
.social-icons:focus {
  fill: #fff;
}

.social-links-footer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer:hover, .social-links-footer:focus {
  background-color: #2196f3;
}

.social-items:not(:last-child) {
  margin-right: 10px;
}

.social-icon-footer {
  width: 44px;
  height: 44px;
  fill: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover, .social-icon-footer:focus {
  fill: #fff;
}

.page-header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  display: block;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav-link.current::before {
  position: absolute;
  content: '';
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  top: 76px;
  border-radius: 2px;
}

.header-nav-link.current {
  color: #2196f3;
  position: relative;
}

.header-nav-link:hover, .header-nav-link:focus {
  color: #2196f3;
}

.header-contact-list,
.header-contact-link {
  display: flex;
}

.header-contact-link {
  align-items: center;
  height: 80px;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover {
  fill: #2196f3;
  color: #2196f3;
}

.header-contact-item:not(:last-child) {
  margin-right: 30px;
}

.icon-contacts {
  margin-right: 10px;
}

.icon-contacts:hover {
  color: #2196f3;
}

.filters-list {
  display: flex;
  margin: 0 0 50px;
  padding: 0;
  justify-content: center;
}

.filters-list .filters-btn:not(:last-child) {
  margin-right: 8px;
}

.filters-list button {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  min-width: 73px;
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list button:hover,
.filters-list button:focus {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-img {
  display: block;
  margin: 0;
  padding: 0;
}

.project-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
  padding: 0;
}

.project-type {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
  padding: 0;
}

.project-content-box {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.project-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
}

.project-cards {
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 0px;
  width: 370px;
}

.project-cards:hover .project-description,
.project-cards:focus .project-description {
  opacity: 1;
  transform: translateY(0);
}

.project-cards:nth-child(3n) {
  margin-right: 0;
}

.project-cards:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

footer {
  background: #2f303a;
  padding: 60px 0;
}

footer .container {
  display: flex;
}

.location {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  margin: 20px 0 0;
  width: 227px;
  letter-spacing: 0.03em;
}

.footer-contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
  margin-top: 9px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-wrapper {
  width: 227px;
  margin-right: 70px;
}

.footer-cta-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 10px 0 20px;
  color: #fff;
}

.footer-subscribe-wrapper {
  min-width: 570px;
}

.footer-cta-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-social-wrapper {
  margin-right: 93px;
}

.footer-subscribe-form {
  display: flex;
  align-items: flex-end;
}

.footer-form-input {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  padding-left: 15px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.footer-subscribe-form .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
}
/*# sourceMappingURL=portfolio.css.map */