.hero {
  background: $footer-bg-color;

  & .container {
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &-title {
    color: $primary-bg-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.overlay {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-position: center;
}
