.logo {
  color: $accent-color;
  font-family: Raleway, 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;

  &-accent {
    color: #000;
  }

  footer & {
    display: inline-block;
    margin-right: 0;
    color: $accent-color;

    &-accent {
      color: $primary-bg-color;
    }
  }
}
